*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 1rem;
    line-height: 1.8;
    background-color: white;
    color: #333;
}
header{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-spacing: 2px;
}
.hero{
    text-align: center;
    padding: 2rem;
    background-color: white;


}
.hero iframe{
    margin-top: 1rem;
    border-radius: 8px;
}
.sport{
    padding: 2rem;
    text-align: center;

}
.sport h2{
    font-size: 30px;
    color: #ff4733;
    margin-bottom: 20px;
}